*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}


@font-face {
font-family: 'TTLakes-Medium';
src: url(./fonts/TTLakes-Medium.woff) format('woff'),
url(./fonts/TTLakes-Medium.woff2) format('woff2');
font-style: normal;
}

@font-face {
    font-family: 'TTLakesCondensed-Bold';
    src: url(./fonts/TTLakesCondensed-Bold.woff) format('woff'),
    url(./fonts/TTLakesCondensed-Bold.woff2) format('woff2');
    font-style: normal;
    }





a {
	text-decoration: none;
    color:#1B1C21;
}
ul,
ol,
li {
	list-style: none;
}

html,
body {
height: 100%;
background-color: #FFFFFF;
font-size: 16px;
line-height: 24px;
font-family: "TTLakes-Medium"
}

.wrapper {
    width: 320px;
    min-height: 100%;
	display: flex;
	flex-direction: column;
    padding: 23px 24px 32px 24px;
    position: fixed;
    top:0;
    left: 0;
}

.header-menu {
  
  display: flex;
  flex-direction: row;

}
/*------КНОПКИ-------*/
button {
    background-color: #FFFFFF;
}

button:hover {
opacity: 0.8;
transform: scale(1.2);
}

.back {
margin-right: 17px;
}

.logo {
margin-right: 79px;
}
/*-------MENU MAIN-----*/
.menu-main {
margin-top: 51px;
margin-bottom: 268px;
}

li:not(:last-child) {
vertical-align: center;
margin-bottom: 32px;

}

li:first-child > a {
color:#7E7E82;
}

.stick {
position: absolute;
left:0;
}

/*----FOOTER-----*/
 
.footer-menu {
display: flex;
flex-direction: row;
margin-right: 16px;
}

.footer-menu button {
margin-right: 16px;
}
 
.footer-mail {
    margin-right: 12px;
}

.footer-tell {
    margin-right:40px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.footer-lang span {
color: #7E7E82;
}